<div class="panel panel-default product">
    <div class="panel-body">
        <tr>
            <th>Name: {{product.name}}</th>
        </tr>
        <tr>
            <th>Description: {{product.description}}</th>
        </tr>
        <tr>
            <th>Price: {{product.price}}</th>
        </tr>
        <tr>
            <th>Category: {{product.category}}</th>
        </tr>
        <tr>
            <th>IsAvailable: {{product.isAvailable}}</th>
        </tr>
        <tr *ngIf="isFullModel">
            <th>Code: {{product.code}}</th>
        </tr>
        <tr *ngIf="isFullModel">
            <th><button (click)="onBuy($event)">Buy</button></th>
        </tr>
    </div>
</div>